#logo_facebook {
  position: relative;
  width: 24px;
  top: 6px; }

#adegle,
#bigcity {
  position: relative;
  top: 10px;
  height: 50px; }

#callout_link {
  color: #211E55; }

.fb-like {
  margin-top: 40px; }

.row {
  overflow: hidden; }
