body
  background black
  color white
  padding-top 60px

.row#info
  margin-top 20px

.row#footer
  margin-top 30px

h3#time
  color #08c
  span
    color white

a#fb-label
  font-size x-large
  font-weight bold
  
.fb-like
  margin-top 30px
