!!! 5

html(charset='utf-8')
  head
    meta(name='description', content='Hsinchu Interactive Yo-yo Association')
    meta(name='keywords', content='HIYA,新竹互動式溜溜球協會,Taiwan,Hsinchu,yoyo,yo-yo,溜溜球,台灣,新竹,搖搖,悠悠球,悠悠,sport,新竹市立體育場')
    meta(name='author', content='kaddopur')
    meta(name='google-site-verification', content='Up-ER3sf6imUYWpF77m1jBb7A6zi9PG86UUwtF46ATc')

    title HIYA 新竹互動式溜溜球協會

    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/index.css')

  body
    #fb-root
    script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=236955576406422";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    .container
      .row
        .span7.offset1
          img#homepic(src='img/logo.png')
          img#subline(src='img/subline.png')
        .span3#fb-label
          span 官方臉書社團由此進入　
          a(href='https://www.facebook.com/groups/215966918432883/', target='_blank')
            img#fb(src='img/f_logo.png')
      .row#main
        .span10.offset1
          img#main(src='img/main.jpg')
      .row#info
        .span5.offset1
          span.label.label-warning 聚會時間
          h2 {{date.0}}年{{date.1}}月{{date.2}}日 (第{{round}}回)
          h2 {{time}}
          p
          span.label.label-warning 聚會地點
          h2
            //a(href='{{place_url}}', target='_new') {{place}}
            {{place}}
        .span5
          .alert.alert-success
            | 原則上每週日皆有聚會，如當週遇特殊節日或其他臨時狀況時將彈性暫停一次。詳情請見
            a(href='https://www.facebook.com/groups/215966918432883/', target='_blank') 官方臉書社團
          p
          span.label.label-success 贊助單位
          a(href='http://www.adegle.com/', target='_black')
            img#adegle(src='img/a_logo.png', alt='Adegleyoyos 裕和商店')
          p
          span.label.label-success 協力單位
          a(href='http://www.fecityonline.com/BigCity/index.do', target='_black')
            img#bigcity(src='img/b_logo.png', alt='BigCity 遠東巨城購物中心')
          p
          
      .row#fb
        .span6.offset1
          .fb-like(data-href='http://hiya.tw/', data-send='true', data-width='600', data-show-faces='true', data-colorscheme='dark')
