!!! 5

html(lang='zh_TW')
  head
    title 2012ODYC-PAA, One Day Yo-yo Carnival - Performing Arts Awards

    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/odycpaa2012index.css')
  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          ul.nav
            li.active 
              a(href='#') 首頁
            li 
              a(href='/aslzxkcuvhaawelkr') 規則
            li 
              a 關於我們

    #cover
      .container
        h1 
          p 2012 ODYC 
          p#subline Performing Arts Awards
          p is ON
        //p.lead Good, better, best. Never let it rest.
        p.lead Just play. Have fun. Enjoy the game.
        .row
          .span4.offset4
            button.btn.btn-large.btn-block.btn-primary(type='botton') 
              |  了解詳情 
              i.icon-chevron-right.icon-white

    #social
      .container 
        .sapn12 facebook likes
    
    .container
      .row#about
        .span12
          h1 這項比賽到底是在比什麼
          p.lead 全新的競賽嚐試
      .row#special
        .span4
          img(src='http://placehold.it/300x200&text=sp1')
          h3 比賽特點之一
          p 介紹介紹介紹一，介紹介紹介紹一，介紹介紹介紹一，介紹介紹介紹一，介紹介紹介紹一，介紹介紹介紹一，介紹介紹介紹一，介紹介紹介紹一，介紹介紹介紹一，介紹介紹介紹一，介紹介紹介紹一，介紹介紹介紹一，介紹介紹介紹一，介紹介紹介紹一，介紹介紹介紹一
        .span4
          img(src='http://placehold.it/300x200&text=sp2')
          h3 比賽特點之二
          p 介紹介紹介紹二，介紹介紹介紹二，介紹介紹介紹二，介紹介紹介紹二，介紹介紹介紹二，介紹介紹介紹二，介紹介紹介紹二，介紹介紹介紹二，介紹介紹介紹二，介紹介紹介紹二，介紹介紹介紹二，介紹介紹介紹二，介紹介紹介紹二，介紹介紹介紹二，介紹介紹介紹二
        .span4
          img(src='http://placehold.it/300x200&text=sp3')
          h3 比賽特點之三
          p 介紹介紹介紹三，介紹介紹介紹三，介紹介紹介紹三，介紹介紹介紹三，介紹介紹介紹三，介紹介紹介紹三，介紹介紹介紹三，介紹介紹介紹三，介紹介紹介紹三，介紹介紹介紹三，介紹介紹介紹三，介紹介紹介紹三，介紹介紹介紹三，介紹介紹介紹三，介紹介紹介紹三
        
    #footer
      .container
        p.pull-right 
          a(href='#') 回到頁首
        | Designed and built by 
        a(href='http://twitter.com/kaddopur') @kaddopur 
        | with his beloved yo-yos and LOVE.



